<h1>Create Blog</h1>
<form method="POST" action="/blog/store">
  <div class="col-auto">
    <label for="inputPassword1">Title</label>
    <input type="text" class="form-control" id="inputPassword1" placeholder="title" name="title">
  </div>
  <div class="col-auto">
    <label for="inputPassword2">Desciption</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="description" name="description">
  </div>
  <div class="col-auto"></div>
    <label for="inputPassword3">Link image</label>
    <input type="text" class="form-control" id="inputPassword3" placeholder="url" name="img">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary" style="margin: 32px 0px 0px 120px">Confirm identity</button>
  </div>
</form>